Try&Error/
Lectures_In_Progress/
.idea/
.DS_Store
Examples/.ipynb_checkpoints
Homework/.ipynb_checkpoints
Homework/Data/netflix-titles/.ipynb_checkpoints
Homework/Data/iris/.ipynb_checkpoints
Problems/.ipynb_checkpoints
Notebooks_Finished/.DS_Store
Notebooks_Finished/Data/.DS_Store
Notebooks_Finished/.ipynb_checkpoints
Notebooks_In_Progress/.DS_Store
Notebooks_In_Progress/.ipynb_checkpoints
Notebooks_In_Progress/Data/.DS_Store
Notes/.DS_Store
Notes/.ipynb_checkpoints
Solutions/.ipynb_checkpoints
Essential/